// Specific CSS for your home-page
.homeImage {
background-image: asset-url('laundry.png');
background-size: cover;
background-repeat: no-repeat;
width: 100vw;
height: 100vh;
// linear-gradient: 0 0 15px rgba(0,0,0,0.2);
background-position: center;
display: flex;
p{
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 80px;
  }
}
