.sign-up-buttons {
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.invisible {
  display: none !important;
}

.home-navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flex-2 {
  display: flex;
}

.cloud {
  background: #f8fefe;
  border-radius: 20px;
  border: 1px solid white;
  margin-bottom: 50px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}


.notifierText {
  margin: 20px;
  font-size: 18px;
}

.ghost {
  position: relative;
  top: -100px;
  margin-bottom: 40px;
  width: 150px;
  height: 150px;
}

.ghost:hover {
  width: 150px;
  height: 150px;
  -webkit-filter: hue-rotate(250deg);
    filter: hue-rotate(250deg);
}

.container-fluid {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/ryry/image/upload/v1612035450/desktop-background_kvqlgz.gif);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

/* .ghost {
  z-index: 9999;
  position: relative;
  left: -100px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
} */

@media only screen and (max-width: 600px) {
  .container-fluid {
    height: 100vh;
    background-image: url(https://res.cloudinary.com/ryry/image/upload/v1639013215/home-background_upnayx.gif);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }

  .cloud {
    margin-bottom:0px;

  }

  .notifierText {
    margin: 20px;
    font-size: 13px;
  }

  .ghost {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    height: 100vh;
    background-image: url(https://res.cloudinary.com/ryry/image/upload/v1639013215/home-background_upnayx.gif);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }

  .ghost {
    display: none;
  }

  .cloud {
    margin-top:220px;
  }

}
