<<<<<<< HEAD
<p>Description</p>
<button id="login_button"><%= link_to "Log In", new_user_session_path %></button>
<button id="signup_button"><%= link_to "Sign Up", new_user_registration_path %></button>
=======
<div class="homeImage">
  <p>Reward your children for their efforts!</p>
    <button id="login_button"><%= link_to "Log In", new_user_session_path, class: "button_text" %></button>
    <button id="signup_button"><%= link_to "Sign Up", new_user_registration_path, class: "button_text" %></button>
</div>
>>>>>>> 3535464d02e5787e31674516ba72ff30f1b40e37
