<div class="d-flex justify-content-center align-items-center"><% content_for(:navbar_text) { "TINY HEROES" } %></div>

<div class="homeImage">
  <div><p style="color:black;">Reward your children for their efforts as your Tiny Heroes!</p></div>
    <button id="login_button"><%= link_to "Log In", new_user_session_path, class: "button_text" %></button>
    <button id="signup_button"><%= link_to "Sign Up", new_user_registration_path, class: "button_text" %></button>
</div>
