<% content_for(:navbar_text) { "TINY HEROES" } %>

  <div class="container-fluid">
  <div class="sign-up-buttons">
  <div id="title">Tiny Heroes</div>
  <%= image_tag ("ghost.png"), :class=>"ghost" %>

  <div class="cloud">
  <p class="notifierText">Tiny Heroes was created to help you with managing your children's activities, chores, homework or anything your heart desires.<br><br> Simply Sign-Up with your email address and start creating tasks!</p>
  </div>

    <button id="login_button"><%= link_to "Log In", new_user_session_path, class: "button_text" %></button>

    <button id="signup_button"><%= link_to "Sign Up", new_user_registration_path, class: "button_text" %></button>
    </div>


</div>
