<% content_for(:navbar_text) { "TINY HEROES" } %>

<div class="homeImage">

  <div class="d-flex justify-content-center align-items-center"><p>Reward your tiny heroes for their efforts!</p></div>
    <button id="login_button"><%= link_to "Log In", new_user_session_path, class: "button_text" %></button>
    <button id="signup_button"><%= link_to "Sign Up", new_user_registration_path, class: "button_text" %></button>
    <div style="color:white; opacity:0.8;">Icons made by Freepik from www.flaticon.com"</div>
</div>

