#login_button {
position: absolute;
width: 300px;
height: 58px;
left: 43px;
top: 626px;
background: #5081F6;
border-radius: 20px;
border-style: none;
}

#signup_button {
position: absolute;
width: 300px;
height: 58px;
left: 43px;
top: 700px;
background: #F6C953;
border-radius: 20px;
border-style: none;
}

.button_text {
color: white;
font-weight: bold;
}


