.family-card {
  display:flex;
  padding:10px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin:5px 0;
  justify-content: space-between;
  align-items:center;

}

p {
  font-size:25px!important;
  display:flex;
  font-family: 'Solway', serif;
}


.reward-low {
  background-color: green;
  border: 2px solid white;
  height:10px;
  width:80%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:black;
}

.reward-medium {
  background-color: pink;
  border: 2px solid white;
  height:10px;
  width:80%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:black;
}


.reward-high {
  background-color: gold;
  border: 2px solid white;
  height:10px;
  width:80%;
  display:flex;
  justify-content:center;
  align-items:center;
  color:black;
}
