.login-form {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: -67px;
}

.signup-form {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: -22px;
}

#login-wallpaper {
  display: flex;
  justify-content: center;
  align-items:center;
  }

#signup-wallpaper {
  display: flex;
  justify-content: center;
  align-items:center;
  }
