#login_button {
  position: absolute;
  width: 300px;
  height: 58px;
  left: 43px;
  top: 470px;
  background: #0b3bae;
  border-radius: 20px;
  border-style: none;
}

#signup_button {
  position: absolute;
  width: 300px;
  height: 58px;
  left: 43px;
  top: 540px;
  background: #F6C953;
  border-radius: 20px;
  border-style: none;
}

.button_text {
  color: white;
  font-weight: bold;
}
