#login_button {
  margin: 20px 0px;
  width: 240px !important;
  height: 78px;
  background: #3da9fc;
  border-radius: 20px;
  border-style: none;
  margin-right: 100px;
}

#login_button:hover {
  background: #5eb9ff;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

#signup_button:hover {
  background: #5eb9ff;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

#signup_button {
  margin: 20px 0px;
  width: 240px !important;
  height: 78px;
  background: #3da9fc;
  border-radius: 20px;
  border-style: none;
}

#title {
  font-size: 70px;
  color: white;
  letter-spacing: 0.3ch;
  margin-bottom: 30px;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: bold;
}

.button_text {
  color: white;
  font-weight: bold;
  text-decoration: none !important;
}

.button_text:hover {
  color: rgb(194, 194, 194);
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  #login_button {
    width: 90vw !important;
    margin-right: 0 !important;
  }

  #signup_button {
    width: 90vw !important;
  }

  #title {
    font-size: 60px;
    letter-spacing: 0ch;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
  }
}
