#login_button {
  margin: 20px 0px;
  width: 300px;
  height: 58px;
  background: #0b3bae;
  border-radius: 20px;
  border-style: none;
}

#signup_button {
  margin: 20px 0px;
  width: 300px;
  height: 58px;
  background: #f6c953;
  border-radius: 20px;
  border-style: none;
}

.button_text {
  color: white;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  #login_button {
    width: 50vw !important;
  }

  #signup_button {
    width: 50vw !important;
  }
}
