.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5081F6;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 76px;
}
