.modal-content {
  background-color: #3a94ff;
  border-radius: 10px;
  top: 66px;
}

.modal-header {
  border-bottom: none;
  margin: 0 auto;
  background-color: #3a94ff;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  color: white;
  h3 {
    color: white;
    font-weight: bold !important;
  }
}

.form-group {
  color: white;
}
.btn-primary {
  color: #fff;
  font-weight: bold;
  background-color: #0b3bae;
  border-radius: 5px;
  border-color: #0b3bae;
}

.btn-primary:hover {
  color: #fff;
  background-color: #002375;
  border-color: #002375;
}

.close {
  color: white;
}
.text-muted {
  color: #ffffff !important;
}

.icon {
  opacity: 0.7;
}

input#mission_name::placeholder {
  font-style: italic;
}

textarea#mission_description::placeholder {
  font-style: italic;
}

input#mission_reward::placeholder {
  font-style: italic;
}
