.signup-form {
  background-color: #3a94ff;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.btn {
  color: #fff;
  font-weight: bold;
  background-color: #0b3bae;
  border-radius: 5px;
  border-color: #0b3bae;
}

.signup-form a {
  color: white;
}

.avatar {
  opacity: 0.7;
}

#signup-wallpaper > div > a {
  display: none;
}

#new_user > div.form-actions > input {
  width: 100%;
}

.form-group.email.required.user_email,
.form-group.string.required.user_first_name,
.form-group.string.required.user_last_name,
.form-group.password.required.user_password,
.form-group.password.required.user_password_confirmation {
  width: 450px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .signup-form {
    background-color: #3a94ff;
    padding: 20px;
    display: flex;
    justify-content: space-between !important;
  }

  .avatar {
    width: 40px !important;
    height: 45px !important;
  }

  .form-group.email.required.user_email,
  .form-group.string.required.user_first_name,
  .form-group.string.required.user_last_name,
  .form-group.password.required.user_password,
  .form-group.password.required.user_password_confirmation {
    width: 300px;
    padding: 10px;
  }
}
