

#signup-button {
  width: 90%;
}

.btn {
  color: #fff;
  font-weight: bold;
  background-color: #f6c450;
  border-radius:5px;
  border-color: #F6C953;
}

.signup-form a {
  color: white;
}
.avatar {
  opacity: 0.7;
}
