.signup-form {
  background-color: #3a94ff;
}

.btn {
  color: #fff;
  font-weight: bold;
  background-color: #0b3bae;
  border-radius: 5px;
  border-color: #0b3bae;
}

.signup-form a {
  color: white;
}

.avatar {
  opacity: 0.7;
}