#signup-wallpaper {
  background-color: #54d05261;
  height: calc(100vh - 60px);
  background-size: cover;
}

.form-actions {
  width: 27%;
}

.signup-form {
border-radius: 5px;
background-color: #58B873;
h3 {
    color: white;
    text-align: center;
  }
}

.btn {
  color: #fff;
  font-weight: bold;
  background-color: #F6C953;
  border-radius:5px;
  border-color: #F6C953;
}

a {
  color: white;
}
