body {
  background-color: #5ec8f161;
}

.task-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  width: 340px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  }

.completed {
  border-style: solid;
  border-width: medium;
  border-color: green;
}

.not-completed {
  border-style: solid;
  border-width: medium;
  border-color: red;
}

.verified {
  border-style: solid;
  border-width: medium;
  border-color: gold;
}

.task-card h2 {
  color: #0B3BAE;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px;
}

.task-card p {
  font-size: 10px;
}

.task-card-info {
  padding: 10px;
  flex-grow: 1;
  // height: inherit;
p {
  margin-bottom: 4px;
  }
}

.task-card-info h3 {
  font-size: 10px;
  font-weight: bold;
  color: #F48779;
  margin-bottom: 0px;
}

.task-card-buttons {
  display: flex;
  h6 {
    font-size: 10px;
    margin-bottom: 0!important;
  }
}

.task-icon {
  color: #12C0B6;
  font-size: 38px;
  position: relative;
  padding:5px;
}

.button-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 32px;
  height: 80px;
  width: 340px;
  background: #167afb;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: -8px;
  border-radius: 5px;
  position: relative;
}

.coin {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #F6C953;
  color: white;
  border: 2px solid #EABA3D;
  margin-right: 0px 5px 0px 0px;
  h6 {
    font-size: 10px;
    margin: 0 !important;
    text-align: center;
    transform: translate(0px, -1px);
  }
}

.pending-tasks {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 24px;
  h1 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #0B3BAE;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  }
  }

.favourite-tasks {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 5px;
  h1 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #0B3BAE;
  padding: 5px;
  font-weight: bold;
  }
}

.verify-button {
  color: #fff;
  background-color: green;
  border-radius:5px;
  border-color: green;
  font-size: 12px;
  padding: 3px;
}

.done-button {
  color: #fff;
  background-color: green;
  border-radius:5px;
  border-color: green;
  font-size: 12px;
  padding: 3px;
  width: 50px;

}
