.task-cards {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 24px;
}

.task-card {
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
width: 340px;
background: white;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
}

.task-card h2 {
font-size: 12px;
font-weight: bold;
}

.task-card p {
font-size: 10px;
}

.task-card-info {
padding: 10px;
flex-grow: 1;
// height: inherit;
p {
  margin-bottom: 0;
  }
}

.task-card-buttons {
display: flex;
h6{
font-size: 14px;
  }
}

.task-icon {
color: #58B873;
font-size: 38px;
position: relative;
padding:5px;
}

.modal-content {
background-color: #58B873;
border-radius: 10px;
}

.modal-header {
border-bottom: none;
margin: 0 auto;
background-color: #58B873;
border-radius: 10px 10px 0 0;
display: flex;
align-items: center;
color: white;
h5 {
font-weight: bold!important;
}
}

.form-group {
color: white;
}

.button-card {
display: flex;
align-items: center;
justify-content: space-around;
color: white;
font-size: 32px;
height: 80px;
width: 340px;
background: #F48779;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
position: relative;
}

.coin {
border-radius: 50%;
background-color: #F6C953;
padding: 5px;
color: white;
width: 26px;
height: 26px;
margin-right: 6px;
border: 2px solid #EABA3D;
text-align: center;
}

.btn-primary {
color: #fff;
font-weight: bold;
background-color: #F6C953;
border-radius:5px;
border-color: #F6C953;
}

.close {
color: white;
}
