// .profile-page {
//   padding: 10px;
//   margin-top: 38px;
//   display:flex;
//   align-items: center;
//    justify-content: center;
// }

.profile-page {
  display:flex;
  justify-content:space-around;
  align-items:center;
  padding:10px 0;
  border-bottom: 1px solid white;
  margin:5px 0;
    h4 {
  font-family: 'Solway', serif;
  margin: 11px;
  }
  p{
    margin: 4px 18px;
  }
}

.profile-align{
justify-content: space-around;
-webkit-box-align: center;
align-items: center;
margin: 5px 0;
padding: 10px 0;
}

.username {
  display: flex;
  justify-content:left;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.extras {
  color: #0B3BAE!important;
}

.avatar-icon {
  width:50px;
  height:50px;
}

.edit-btnbtn{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    height: 80px;
    width: 340px;
    background: #167afb;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 27px;
    margin-left: 19px;
    border-radius: 5px
}

.back-btnbtn {
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    height: 80px;
    width: 340px;
    background: #167afb;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: -7px;
    margin-left: 19px;
    border-radius: 5px
}

#missions {
  display: flex;
  flex-direction: column;
}


.mission-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.mission-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  width: 340px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.mission-card h2 {
  color: #0B3BAE;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px;
}

.mission-card p {
  font-size: 10px;
}

.mission-card-info {
  padding: 10px;
  flex-grow: 1;
  // height: inherit;
p {
  margin-bottom: 4px;
  }
}

.mission-card-info h3 {
  font-size: 10px;
  font-weight: bold;
  color: #F48779;
  margin-bottom: 0px;
}

.mission-icon {
  color: #12C0B6;
  font-size: 38px;
  position: relative;
  padding:5px;
}

// .coin {
//   width: 35px;
//   height: 35px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 50%;
//   background-color: #F6C953;
//   color: white;
//   border: 2px solid #EABA3D;
//   margin-right: 0px 5px 0px 0px;
//   h6 {
//     font-size: 10px;
//     margin: 0 !important;
//     text-align: center;
//     transform: translate(0px, -1px);
//         display:flex;
//     justify-content: center;
//     align-items:center;
//   }
// }

