h3 {
  color: #0B3BAE;
  margin-top: 16px;
}

.all_wishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}


.wish-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  width: 340px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

a {
  color: #0B3BAE;
}

.wish-card h2 {
  color: #0B3BAE;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px;
}

.wish-card-button {
  display: flex;
  h6 {
    font-size: 10px;
    margin-bottom: 0;
  }
}

.wish-card-info {
  padding: 10px;
  flex-grow: 1;
}

.wish-card-info h3 {
  font-size: 10px;
  font-weight: bold;
  color: #F48779;
  margin-bottom: 0px;
}
